.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(139, 255, 108, 0.65);
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	&__wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 420px;
		max-height: 100vh;
		overflow: auto;
	}
	&__header {
		background-color: #51a3ff;
		display: flex;
		align-items: center;
		padding: .35em .75em;
		margin-bottom: .25em;
	}
	&__title {
		color: #ffffff;
		margin: 0;
	}
	&__close {
		margin-left: auto;
		background-color: #cc3835;
		color: #ffffff;
		text-align: center;
		border: 0;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		font-size: 20px;
		padding: 0;
		line-height: 21px;
		overflow: hidden;
		cursor: pointer;
		transition: background-color .25s ease;
		&:hover {
			background-color: #cc1515;
		}
		
	}
	&__body {
		background-color: #ffffff;
		padding: .75em;
	}
}
